output_files/*
figures/
results.ipynb
predictions_analysis.ipynb
check_reps_sampling/KB/reps_MSATransformer/*
check_reps_sampling/KB/msa_splits/*
check_reps_sampling/Mad2/reps_MSATransformer/*
check_reps_sampling/Mad2/msa_splits/*
check_reps_sampling/RfaH/reps_MSATransformer/*
check_reps_sampling/RfaH/msa_splits/*
